<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.processmining.dao.OriginalLogMapper" >
  <resultMap id="BaseResultMap" type="com.processmining.entity.OriginalLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creatorId" property="creatorid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hdfsId" property="hdfsid" jdbcType="VARCHAR" />
    <result column="standardizedLogId" property="standardizedlogid" jdbcType="INTEGER" />
    <result column="format" property="format" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creatorId, createTime, name, hdfsId, standardizedLogId, format
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from originallog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from originallog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.processmining.entity.OriginalLog" >
    insert into originallog (id, creatorId, createTime, 
      name, hdfsId, standardizedLogId, 
      format)
    values (#{id,jdbcType=INTEGER}, #{creatorid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{hdfsid,jdbcType=VARCHAR}, #{standardizedlogid,jdbcType=INTEGER}, 
      #{format,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.processmining.entity.OriginalLog" >
    insert into originallog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creatorid != null" >
        creatorId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="hdfsid != null" >
        hdfsId,
      </if>
      <if test="standardizedlogid != null" >
        standardizedLogId,
      </if>
      <if test="format != null" >
        format,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creatorid != null" >
        #{creatorid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hdfsid != null" >
        #{hdfsid,jdbcType=VARCHAR},
      </if>
      <if test="standardizedlogid != null" >
        #{standardizedlogid,jdbcType=INTEGER},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.processmining.entity.OriginalLog" >
    update originallog
    <set >
      <if test="creatorid != null" >
        creatorId = #{creatorid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hdfsid != null" >
        hdfsId = #{hdfsid,jdbcType=VARCHAR},
      </if>
      <if test="standardizedlogid != null" >
        standardizedLogId = #{standardizedlogid,jdbcType=INTEGER},
      </if>
      <if test="format != null" >
        format = #{format,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.processmining.entity.OriginalLog" >
    update originallog
    set creatorId = #{creatorid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      hdfsId = #{hdfsid,jdbcType=VARCHAR},
      standardizedLogId = #{standardizedlogid,jdbcType=INTEGER},
      format = #{format,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>